{{define "subject"}} Welcome to Greenlight {{ end }}

{{define "plainBody"}}
Hi {{.Name}}, 

Thanks for signing up for a Greenlight account. We are excited to have you on board! 

Please send a PUT request to `/v1/users/activated` with the following JSON data to activate your account:

{"token": "{{.activateToken}}"}

Please note that this one time token would expire in 3 days
  
❤️ from us at Greenlight

{{ end }}

{{define "htmlBody"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Hi, {{.Name}}</p>
    <p>
      Thanks for signing up for a Greenlight account. We are excited to have you
      on board!
    </p>

    <p>
      Please send a PUT request to `/v1/users/activated` with the following JSON data to activate your account:
    </p>

    <p>{"token": "{{.activateToken}}"}</p>
    <p>Please note that this one time token would expire in 3 days</p>
    <p>❤️ from us at Greenlight</p>
  </body>
</html>
{{ end }}
